.tile-container{
  width: 40px;
  height: 35px;
  background: #34495e;
  border-radius: 10px;
  margin: 20px;
  color: #fff;
  font-family: laviregular;
  font-size: 22px;
  align-content: center;
  text-align: center;
  padding-top: 5PX;
  cursor: pointer;
}
