<app-header [headerInfo]="profile.header"></app-header>
<div class="container">

  <div class="max-content-container">
    <h1>About me</h1>
    <p class="about">{{this.aboutMe}}</p>
    <h1>Skills & tools</h1>
    <app-skills *ngFor="let skill of profile.skills" [skills]="skill"></app-skills>
  </div>
</div>
<div class="container">
  <h2>Experience</h2>
  <div class="max-content-container">
    <div class="flex-container">
      <div class="mobile-flex-container">
        <app-tile *ngFor="let project of profile.experience" [tile]="project" (click)="selectEmployer(project)" [selected]="selectedEmployer.name === project.name" ></app-tile>
      </div>
      <app-panel [experience]="selectedEmployer"></app-panel>
    </div>
  </div>
</div>


