<app-header [headerInfo]="profile.header"></app-header>
<div class="container">

  <div class="max-content-container">
    <h1>About me</h1>
    <span class="about" [innerHTML]="aboutMe"></span>
<!--    <h1>Skills & tools</h1>-->
<!--    <app-skills *ngFor="let skill of profile.skills" [skills]="skill"></app-skills>-->
  </div>
</div>
<div class="container">
  <h2>Experience</h2>
  <div class="max-content-container">
    <div class="flex-container">
      <div class="mobile-flex-container">
        <app-tile *ngFor="let project of profile.experience" [tile]="project" (click)="selectEmployer(project)" [selected]="selectedEmployer.name === project.name" ></app-tile>
      </div>
      <app-panel [experience]="selectedEmployer"></app-panel>
    </div>
  </div>
</div>

<div class="container">
  <h2>Hobby Project</h2>
  <div class="flex-container">
    <ng-container  *ngFor="let project of profile['Hobby_Projects']">
    <app-post [post]="project" *ngIf="project.type === 'post'"></app-post>
    </ng-container>
  </div>
  <div class="container" style="padding: 30px 0 30px 0">
  <div class="flex-container" style="flex-direction: column">
    <h2>Node packages</h2>
    <ng-container  *ngFor="let project of profile['Hobby_Projects']">
      <app-post [post]="project" *ngIf="project.type !== 'post'" style="margin-right: 15px"></app-post>
    </ng-container>
  </div>
  </div>
  </div>



