/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'qwipstikregular';
  src: url('./assets/fonts/qokijo-webfont.woff2') format('woff2'),
  url('./assets/fonts/qokijo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'laviregular';
  src: url('./assets/fonts/lavi-webfont.woff2') format('woff2'),
  url('./assets/fonts/lavi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body{
  padding: 0;
  margin: 0;
  background: #2ecc71;
}

 h3, h2, h1 {
  margin: 0 0 10px;
  font-family: laviregular;
}

.container {
  padding: 30px;
  max-width: 980px;
  height: auto;
  margin: auto;
}

@media only screen
and (min-device-width: 720px)
and (max-device-width: 1024px) {
  .container{
    padding: 10px;
  }
}
@media only screen
and (max-device-width: 450px) {
  h3, h2, h1 {
    font-size: 18px;
    margin: 0 0 10px;
    font-family: laviregular;
  }
}

